/* 공통사항 */
.wrap {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.underbar {
	cursor: pointer;
}

.underbar:after {
	display: block;
	content: "";
	border-bottom: 1px solid #222;
	width: 0;
	transition: all 0.5s;
}

.underbar:hover:after {
	width: 100%;
}

/* 
before: 작업이 끝난 후에 
after: 작업이 닫히기 전에 작업을 실행. 
*/
.tip {
	position: absolute;
	color: #ffff;
	padding: 2px 4px 6px 4px;
	font-size: 0.5rem;
	background: url(../img/tooltip-bar.png) no-repeat center bottom;
	top: -24px;
	right: 0;
}


/* header */
/* banner */
.top-banner {
	background-color: #ffe8e8;
	position: relative;
	text-align: center;
	color: #b05d5d;
	font-size: 0.75rem;
	padding: 0.5rem 0;
}

.top-banner .fa-times {
	float: right;
	margin: 0.2rem;
	cursor: pointer;
}

.top-icons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 0.75rem;
	padding: 1rem 0;
}

.top-icons>div {
	margin-left: 0.75rem;
}

.langs,
.currency {
	position: relative;
	display: flex;
	align-items: center;
}

.langs *,
.currency * {
	padding-right: 0.25rem;
}

.langs .fa-angle-down,
.currency .fa-angle-down {
	color: #666;
}

.langs img,
.currency img {
	width: 18px;
}

.langs>ul,
.currency>ul {
	position: absolute;
	background-color: #ffffff;
	padding: 0.5rem;
	top: 18px;
	display: none;
}

.langs>ul>li,
.currency>ul>li {
	display: flex;
	padding: 0.25rem 0;
	align-items: center;
}

/* search bar & layer */
.schs {
	position: relative;
	background-color: #f1f1f1;
	padding: 0.25rem;
	border-bottom: 1px solid #ccc;
}

.schs input {
	width: 130px;
	background-color: transparent;
	outline-color: transparent;
	padding-left: 0.5rem;
}

.schs button {
	padding: 0 0.5rem;
	background-color: transparent;
	outline-color: transparent;
}

.sch-layer {
	width: 500px;
	padding: 1rem;
	border: 1px solid #ccc;
	background-color: #ffff;
	position: absolute;
	right: 0;
	top: 30px;
	border: 1px solid #eee;
	display: none;
}

.sch-layer .tit {
	color: #333;
	padding: 0.25rem 0;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	margin-bottom: 1rem;
}

.sch-layer .tags {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

.sch-layer .tag {
	padding: 0.5rem 0.35rem;
	background-color: #eee;
	color: #aaa;
	margin: 0.25rem;
}

.sch-layer .prds {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.sch-layer .prd {
	flex: 33.3333% 0 0;
	padding: 0 0.5rem;
}

.sch-layer .prd>li {
	margin-bottom: 0.5rem;
}

.sch-layer .prd-tit,
.sch-layer .sch-price {
	font-weight: bold;
}

.sch-layer .prd-refs {
	display: flex;
	align-items: center;
}

.sch-layer .prd-ref:not(:last-child) {
	width: 24px;
	height: 24px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin-right: 0.25rem;
}

.top-links {
	display: flex;
	justify-content: space-between;
	font-size: 0.75rem;
}

.top-links>.logo {
	width: 100px;
}

.top-link>.desc {
	font-weight: bold;
	text-align: right;
}

.top-link>.bts {
	display: flex;
	align-items: center;
	margin-top: 0.5rem;
}

.top-link>.bts>li {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.top-link>.bts>li * {
	margin-left: 0.5rem;
}

.top-link .rnd-cnt {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: lightcoral;
	text-align: center;
}



/* top-navis */
.top-navis {
	background-color: #232323;
	margin-top: 0.75rem;
	font-size: 0.75rem;
	position: relative;
}

.top-navis>.top-navi {
	display: flex;
}

.top-navis .underbar:after {
	border-color: #ffff;
}

.top-navis .navi {
	padding: 0.75rem 0;
	margin-right: 2rem;
	color: #ffff;
	font-weight: bold;
	letter-spacing: 1.5px;
}

.top-navis .subs {
	position: absolute;
	padding: 1rem;
	width: 100%;
	background-color: #ffff;
	color: #333;
	left: 0;
	top: 43px;
	/* display: none; */
}

.top-navis .subs .underbar:after{
	border-color: #007bff;
}

.sub-navi a{
	text-decoration: none;	
	display: inline-block;
}

.sub-navi a,
.sub-navi a:link,
.sub-navi a:visited,
.sub-navi a:active {
	color: #777;
}

.sub-navi a:hover{
	color: #007bff;
}

.grid-two {
	display: flex;
	justify-content: space-between;
}

.grid-two>.sub-navi {
	display: flex;
	width: 600px;
	flex-wrap: wrap;
	align-items: flex-start;
}

.grid-two>.sub-navi> ul {
	flex: 33.3333% 0 0;
	margin-bottom: 2rem;
}

.grid-two>.sub-navi>ul>li {
	padding-bottom: 0.5rem;
}

.sub-ad1 {
	display: flex;
}

.sub-ad1 > div{
	flex: 50% 0 0;
	padding-left: 8px;
}

.sub-ad1 img{
	padding-bottom: 8px;
}

.sub-ad2{
	display: flex;
}

.sub-ad2 > div {
	width: 200px;
	padding-left: 8px;
}

.sub-ad2 .prd {
	padding: 0 0.5rem;
}

.sub-ad2 .prd>li {
	margin-bottom: 0.5rem;
}

.sub-ad2 .prd-tit,
.sub-ad2 .sch-price {
	font-weight: bold;
}

.sub-ad2 .prd-refs {
	display: flex;
	align-items: center;
}

.sub-ad2 .prd-ref:not(:last-child) {
	width: 24px;
	height: 24px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin-right: 0.25rem;
}